<div class="about-container">

    <div class="home-cc">
        <div class="about-count">
            <span style="font-size:2em; vertical-align:middle;" class="front-activities">
                <h1>Welcome to Mendr.</h1>

            <h3>Connect with new friends — and explore a world of new moments. <br>
                Get in-the-moment activities near you. <br>
                And watch events unfold, in real time, from every angle.</h3></span>
        </div>

    </div>
</div>