<div class="home-container">
    <div class="home-text">
        <h1>Welcome to Mendr.</h1>

        <h3>Connect with new friends — and explore a world of new moments. <br>
            Get in-the-moment activities near you. <br>
            And watch events unfold, in real time, from every angle.</h3>
    </div>

    <div class="home-cc" style="float: right;width: 300px;display: block;">
        <div class="home-count">
            <span style="font-size:2em; vertical-align:middle;" class="front-activities" v-cloak>\{{ activitiesData }}</span>
            <span style="vertical-align:middle;color: #171717;">Activities near you</span>
        </div>
        <div class="home-count">
            <span style="vertical-align:middle;color: #171717;">Location:</span>
            <span style="font-size:1.2em; vertical-align:middle;" class="front-location" v-cloak>\{{ locationData }}</span>
        </div>

    </div>
</div>