 <nav class="navbar fixed-nav navbar-default  navbar-fixed-top" id="main-navbar">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="#" class="navbar-brand top-logo"><img src="https://i.imgur.com/p35XBAV.png" alt="logo"></a>

                </div>  <!--end navbar-header -->

                <div class="collapse navbar-collapse" id="navbar-collapse">

                    <ul class="nav navbar-nav navbar-left">
                        <li class="propClone nav-link"><a href="/">Home</a></li>
                        <li class="propClone nav-link"><a href="/about">About</a></li>
                    </ul>

                    <ul class="social-menu nav navbar-nav navbar-right">
                        <li class="propClone"><a href="/auth/facebook" class="btn btn-primary btnxs facebook-login">Login with <b>Facebook</b></a></li>
                    </ul>
                </div>  <!--end collapse -->
            </div>
        </div>  <!--end container -->
    </nav>