<div class="app-nav">
<ul class="tl-menu">
    <li><a href="" class="icon-logo" style="pointer-events: none; cursor: default;"><img src="https://i.imgur.com/ngO5Ohx.png" alt="Mendr Logo" height="50" width="50"></a></li>
    <li><a href="/mendr/api/profile/{{user.id}}" class="user-picture" id="navItem1"><img src="{{user.picture}}"></a></li>
    <li><a href="/mendr/api/activity" id="navItem2"><i class="fa fa-plus" style="font-size:30px; margin-top:20px;"></i></a></li>
    <li><a href="/mendr/api/chat" id="navItem3"><i class="fa fa-wechat" style="font-size:30px; margin-top:20px;"></i></a></li>
    <li><a href="/mendr/api/map" id="navItem4"><i class="fa fa-map" style="font-size:30px; margin-top:20px;"></i></a></li>
    <li><a href="/mendr/api/search" id="navItem5"><i class="fa fa-search" style="font-size:30px; margin-top:20px;"></i></a></li>
    <li><a href="/auth/logout" id="navItem6"><i class="fa fa-sign-out" style="font-size:30px; margin-top:20px;"></i></a></li>
</ul>
</div>